.menu {
    display: none;
}

#icon {
    display: block;
}

.pop-up {
    display: block;
}

.pop-up.open {
    height: 288px;
}

#signInBtn {
    display: none;
}

#signUpBtn {
    display: none;
}

#front::before {
    height: 83px;
}

#intro {
    margin: 12rem 0;
}

#logoImg {
    width: 15%;
}